portafolio1/src/test/resources/kml_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kml" type="kmlType"/>
  <xs:complexType name="kmlType">
    <xs:sequence>
      <xs:element type="PlacemarkType" name="Placemark" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointType">
    <xs:sequence>
      <xs:element name="coordinates">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="39.4696828,-0.3770182,0"/>
            <xs:enumeration value="39.4661724,-0.3776545,0"/>
            <xs:enumeration value="39.4700444,-0.3347279,0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlacemarkType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ajuntament Valencia"/>
            <xs:enumeration value="Estacio del Nord"/>
            <xs:enumeration value="Estacio del Cabanyal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Plaça de l'Ajuntament"/>
            <xs:enumeration value="Carrer Xativa"/>
            <xs:enumeration value="Avinguda Blasco Ibanyez"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="PointType" name="Point"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>